@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome</h1>
        <h3 class="display-6">Cows and Bulls Game</h3>
    </div>
    <div class="cowsandbull">
        <input type="text" class="form-control" id="input-cab1" value=""placeholder="Enter number" required><br />
        <button type="submit" class="btn input-cab btn-primary ">Submit</button>
    </div>
</div>

