@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome</h1>
        <h3 class="display-6 margin_bot">Cows and Bulls Game</h3>
    </div>
    <div class="cowsandbull">
         <partial name="_inputForm"/>
    </div>
</div>

